@font-face {
    font-family: minhaFonte;
    src: url(/projeto2/fonts/GhiboTalk.otf);
}

*{
    margin: 0px;
    padding: 0px;
    background-color: #010FEB;
}

.menuItem{
    background-color: #008EE0;
    padding: 5px;
    margin: 0px;
    border: 0px solid #0047E0;
    color: #FFFFFF;
    width: 25%;
    text-align: center;
    font-family: Roboto;
}

.newFont{
    font-size: 40px;
    color: #a8ff99;
    font-family: minhaFonte;
    letter-spacing: 2px;
    word-spacing: 15px;
}