*{
    margin: 0px;
    padding: 0px;
    font-family: Roboto;
}

:root{
    --corPrincipal: #3A4154;
    --corSecundaria: #303647;
    --corTerciaria: #282F42;
    --corTexto: #FFFFFF;
    --corLegenda: #C9C9C9;
    --corBotao: #4D4D4D;
}

/* header */
header{
    overflow: hidden;
}

#header-container{
    display: grid;
    grid-template-columns: 30vw 70vw;
    align-items: center;
    justify-content: center;
    background-color: var(--corSecundaria);
}

#logo-header{
    grid-column: 1/2;
}

#logo-header h1{
    color: var(--corTexto);
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    margin-left: 5vw;
}

#menu-header{
    grid-column: 2/3;
}

#menu-nav{
    text-align: center;
}

#menu-nav > ul >li{
    display: inline-block;
    margin-right: 5vw;
    text-transform: capitalize;
}

#menu-nav > ul >li >a{
    font-size: 1rem;
    text-decoration: none;
    color: var(--corTexto);
}

#menu-nav > ul >li >a:hover{
    text-decoration: underline;
    font: 1.25rem sans-serif;
}

/* main */
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about{
    display: flex;
    flex-direction: column;
    background-color: var(--corTerciaria);
    height: 80vh;
}

#apresentacao-main{
    margin: 5vh  15vw;
}

#apresentacao-main >h2{
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--corTexto);
}

#apresentacao-main >h3{
    font-size: 5.63rem;
    font-weight: 700;
    text-decoration: underline;
    color: var(--corTexto);
}

#apresentacao-main h3:hover{
    text-decoration: none;
    font-size: 6rem;
}

#apresentacao-main >p{
    margin-top: 2vh;
    font-size: 1rem;
    font-weight: 400;
    width: 21.88rem;
    text-align: left;
    color: var(--corLegenda);
}


#apresentacao-main >button{
    background-color: var(--corTexto);
    border: 0 solid var(--corTexto);
    border-radius: 1.56rem;
    margin-top: 8vh;
    width: 11.25rem;
    height: 3rem;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    color: var(--corBotao);
}

#apresentacao-main >button:hover{
    text-decoration: underline;
    box-shadow: 0.3rem 0.3rem 1.56rem #000;
    width: 12rem;
    height: 3.5rem;
}

/* responsividade */
/*ajustar responsividade do main apartir do 1040px*/

@media(max-width: 720px){
    /* header */
    #menu-nav > ul >li{
        margin-right: 2vw;
    }
    #logo-header{
        flex-grow: 3;
    }
}

@media(max-width: 480px){
    /* header */
    #menu-header{
        display: none;
    }
}