
*{
    margin: 0px;
    padding: 0px;
}

.sectHeader{
    background-color: #008EE0;
    width: 100vw;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuItem{
    margin: 5px;
    border: none;
    color: #FFFFFF;
    display: inline;
    font-family: Roboto;
    font-size: medium;
    text-transform: capitalize;
}

.sect-gallery{
    display: flex;
    align-items: center;
    justify-content: baseline;
}
.sectClasses{
    margin-top: 2%;
    margin-left: 3%;
}

.image-gallery{
    width: 200px;
    margin: 5px;
    border: 1px solid #7E7E9E;
}

.text-desc{
    padding: 5px;
    font-family: Roboto;
    text-align: center;
}

a{
    text-decoration: none;
}

img{
    width: 200px;
}

a:link{
    color: #FFFFFF;
}

a:visited{
    color: #FFFFFF;
}

a:hover{
    text-decoration: underline;
}

.image-gallery:hover{
    border: 1px solid #000;
    box-shadow: 2px 2px 5px #00000040;
}