@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

*{
    margin: 0rem;
    padding: 0rem;
    font-family: 'Roboto';
}

:root{
    --corinput: #464646;
    --corlist: #272b27;
    --corbackPopout: #212127;
    --corText: #eeeeee;
    --corcontraste: #4EF54F;
}

/* body */
body{
    background-color: var(--corcontraste);
}

main{
    display: flex;
    flex-direction: column;     
    align-items: center;
    margin-top: 5vh;
}

.to-do{
    display: flex;
    flex-direction: column;
    border: 0rem;
    border-radius: 0.5rem;
    width: 40vw;
    min-height: 90vh;
    background-color: var(--corbackPopout);
    box-sizing: content-box;
    transition: 0.3s;
}

.to-do:hover{
    box-shadow: 0rem 0rem 1rem #18181d;
}

/* input task*/
.input-task{
    margin: 1.5rem 3rem;
    transition: 0.3s;
}

.input-task h1{
    margin: 1.5rem;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    text-transform: capitalize;
    color: var(--corText);
}

.input-task input{
    min-height: 2.5rem;
    width: 70%;
    background-color: var(--corinput);
    color: var(--corText);
    border: 0rem;
    border-radius: 0.25rem;
    padding-left: 1rem;
    transition: 0.3s;
    font-size: 0.85rem;    
}

#newtask:hover{
    box-shadow: 0rem 0rem 1rem #18181d;
    background-color: #5c5c5c;
}

.input-task button{
    height: 2.5rem;
    width: 10%;
    color: var(--corcontraste);
    background-color: var(--corinput);
    border: 0rem;
    border-radius: 0.2rem;
    transition: 0.3s;
    cursor: pointer;
}

#btn-add-task:hover{
    background-color: var(--corText);
    color: var(--corinput);
}

/* task list */
.task-list {
    margin: 0.75rem 3rem;
    color: var(--corText);
}

#todotask{
    display: flex;
    flex-direction: column;
    list-style: none;
    line-height: 2.5rem;
    font-size: 1.2rem;
    color: var(--corText);
}

#filtertask{
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
    list-style: none;
    line-height: 2.5rem;
    font-size: 1.2rem;
    color: var(--corText);
}

#filtertask li{
    background-color: var(--corlist);
    border-radius: 0.5rem;
}

/* item task */
.task{
    display: grid;
    grid-template-columns: 60% auto auto;
    padding: 0.5rem;
    transition: 0.3s;
    border-radius: 0.5rem;
}

.task:hover{
    box-shadow: 0rem 0rem 0.5rem var(--corcontraste);
}

.task p{
    grid-column: 1/2;
    word-wrap: break-word;
}

.task button{
    width: 80%;
    height: 2.5rem;
    color: var(--corcontraste);
    background-color: var(--corinput);
    border: 0rem;
    border-radius: 0.2rem;
    transition: 0.3s;
    text-transform: capitalize;
    cursor: pointer;
}

.task button:hover{
    background-color: var(--corText);
    color: var(--corinput);
}

/* footer */

footer{
    margin-top: 0.5rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    transition: 0.5s;
}

footer a{
    text-decoration: none;
    font-weight: 900;
}

footer a:hover{
    text-decoration: underline;
    color: rgb(163, 18, 4);
}