*{
    margin: 0;
    padding: 0;
}

body{
    margin: 2vh 2vw;
}

body h1{
    text-align: center;
    padding: 2rem 0rem;
}

.caixa{
    border: 0.1rem solid rgb(208, 208, 208);
    width: 13rem;
    padding: 1.2rem;
    background-color: rgb(255, 246, 238);
}

.caixa img{
    margin: 0.6rem;
}
